div.container
{
    margin: 0 auto;
    display: block;
    width: 715px;
}
.border
{
    border: 5px solid silver;
}
.header
{
    position:relative;
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-radius-bottomright:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-radius-bottomleft:0px;
    border-bottom-left-radius:0px;
    text-indent:0;
    color: #adadad;
    font-size: 24px;
    font-weight: bold;
    font-family:Arial;
    font-style:normal;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #ffffff;
    padding: 10px 10px;
    height: 30px;
    display: block;
    float: top;
    float: left;
}
.button:hover
{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
        cursor: pointer;
        color: blue;
}
div#left
{
    width: 180px;
}
div#right
{
    width: 420px;
    border-left: none;
    border-right: none;
}
div#add_button
{
    width: 37px;
    border-left: 3px solid silver;
    color: #727272;
    font-size: 16px;
    line-height: 32px;
}
div#add_button:hover
{
        color: black;
}
.content
{
    display: block;
    float: left;
    background: #f2eff2;
    border-top: none;
    height: 300px;
}
div#list
{
    position: relative;
    width: 200px;
}
div#info
{
    border-left: none;
    width: 500px;
}
form.search_form
{
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
form.search_form input
{
    margin: 5px;
    width: 91%;
}