div.container
{
    position: relative;
    margin: 0 auto;
    display: block;
    width: 715px;
}
.border
{
    border: 5px solid silver;
}
.main-style
{
    position:relative;
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dcdfef) );
    background:-moz-linear-gradient( center top, #ededed 5%, #dcdfef 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-radius-bottomright:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-radius-bottomleft:0px;
    border-bottom-left-radius:0px;
    text-indent:0;
    color: #adadad;
    font-size: 24px;
    font-weight: bold;
    font-family:Arial;
    font-style:normal;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #ffffff;
    padding: 10px 10px;
    height: 30px;
    display: block;
    float: left;
}
.buttons:hover
{
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dcdfef), color-stop(1, #ededed) );
    background:-moz-linear-gradient( center top, #dcdfef 5%, #ededed 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color:#dfdfdf;
    color: black;
    cursor: pointer;
}
#left
{
    display: block;
    position: relative;
    width: 180px;
}
#right
{
    width: 420px;
    border-left: none;
    border-right: none;
}
#add_button
{
    width: 37px;
    border-left: 3px solid silver;
    font-size: 39px;
    line-height: 34px;
}
.content
{
    display: block;
    float: left;
    background: #f2eff2;
    border-top: none;
    height: 300px;
}

#list
{
    display: block;
    height: 280px;
    width: 200px;
    overflow-y: hidden;
    overflow-x: hidden;
    border-bottom: none;
}

#info
{
    padding-top: 15px;
    border-left: none;
    width: 500px;
}
#mainform
{
    display: none;
}
#infoheader
{
    margin: 5px 0 15px 15px;
    font-size: 20px;
}
#search-form
{
    border-top: 3px solid silver;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 3px 4px;
    width: 192px;
    background: #dcdfef;
}
#search-input
{
    text-align: center;
    border-radius: 15px;
    width: 95%;
}
.one-from-list
{
    width: 90%;
    padding-left: 15px;
    padding-right: 5px;
    color: gray;
    font-size: 16px;
    height: 25px;
    line-height: 26px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    border-bottom: 1px solid silver;
}
td.titles
{
    width: 150px;
    height: 34px;
    text-align: right;
    font-size: 18px;
    color: blue;
}
td.inputs
{
    width: 300px;
    position: relative;
    display: block;
    padding-left: 7px;
    font-size: 18px;
    line-height: 33px; 
    color: #666666;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
td.inputs input
{
    display: block;
    float: left;
    padding: 5px 0;
    width: 79%;
    border: 2px solid silver;
}
td.inputs button
{
    color: gray;
    width: 40%;
    line-height: 8px;
    font-size: 13px;
    float: left;
}
#list:hover
{
    overflow-y: visible;
}
#list::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: whitesmoke;
    border-radius: 1px;
}

#list::-webkit-scrollbar
{
    width: 10px;
    background-color: whitesmoke;
    border-radius: 5px;
}

#list::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #dcdfef;
    border-radius: 5px;
}
span
{
    position: relative;
    display: block;
    float: left;
    height: 34px;
    width: 34px;
}
span img
{
    padding: 8px 0 0 5px;
    height: 50%;
    width: 50%;
}